# Taken from https://github.com/jupyter/docker-stacks/blob/main/images/scipy-notebook/Dockerfile#L29

altair
beautifulsoup4
bokeh
bottleneck
cloudpickle
conda-forge::blas=*=openblas
cython
dask
dill
h5py
ipympl
ipywidgets
matplotlib-base
numba
numexpr
openpyxl
pandas
patsy
protobuf
pytables
scikit-image
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
sympy
widgetsnbextension
xlrd
